.wrapper { 
    background-color: #181818;
    height: var( --playing-bar-height);
    color: white;
    padding: 0 16px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    min-height: 90px;
    max-height: 90px;
    // grid-area: nav-bar;

}