@import 'normalize.css';

:root {
        --font-family: "CircularSp";

// size 
        --header-height: 64px;
        --nav-bar-height: 620px;
        --nav-bar-width: 240px;
        --playing-bar-height: calc(100vh - var(----nav-bar-height));

  // color 
        --bg-base: #121212;
        --bg-sub: #282828;
        --text-base: #fff;
        --text-sub: #a7a7a7;
        --primary-color: #1ed760;
        

}
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
html { 
    font-size: 62.5%;
    overflow-x: hidden;
}
body { 
    font-family: var(--font-family), sans-serif;
    line-height: 1.6;
    width: 100%;
    height: 100%;
    // overflow-x: hidden;
    // -ms-overflow-style: none; /* for Internet Explorer, Edge */
    // scrollbar-width: none; /* for Firefox */
    // overflow:hidden;
}
body::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
  display: block;
}
button {
  border: none;
  background: none;
}
audio {
  display: none;
}
@font-face {
    font-family: 'CircularSpTitle-Bold';
    // font-weight: 400;
    src: url('/assets/fonts/CircularSpTitle-Bold.woff2');
}
@font-face {
  font-family: 'CircularSp';
  font-weight: 700;
  src: url('/assets/fonts/CircularSp-Bold.woff2');
}
  @font-face {
    font-family: 'CircularSp';
    font-weight: 400;
    
    src: url('/assets/fonts/CircularSp-Book.woff2');
  }


// custom tippy
.tippy-box {
  background-color: #545454eb;
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 22px;
  border-radius: 8px;
  padding: 8px;
  z-index: 99;
  .tippy-content {
      padding: 0;
  }
  .tippy-arrow {
      color: #545454eb;
  }
}
