.wrapper {
    background: var(--bg-base);
    min-height: calc(100vh - var(--header-height));
}
.content {
    padding: 0 32px;

}



@media ( min-width: 1000px ) and ( max-width: 1024px ){ 
    
}
// tablet
@media  ( max-width: 999px) and (min-width: 768px)  {
    .content {
        padding: 0 16px;
    
    }
}

@media   (max-width: 768px)  {
    
}

@media    (max-width: 800px)  {
    .content {
        padding: 0 8px;
    
    }
}