.main { 
    overflow-x: hidden;
    position: relative;
    height: 100vh;
    .wrapper {
        display: flex;
        height: 620px;
        .container {
            position: absolute;
            left: 241px;
            padding-bottom: 90px;
        }
    }
    &::-webkit-scrollbar {
        display: none;
      }
}
