.main { 
    .wrapper {
        position: relative;
        display: flex;
        // height: 620px;
        margin-bottom: 80px;
        .container {
            background: #000;
            position: relative;
            left: 240px;
            width: calc(100% - var(--nav-bar-width));
            
        }
    }
    // &::-webkit-scrollbar {
    //     display: none;
    //   }
}
