.wrapper {
    background: var(--bg-base);
    min-height: calc(100vh - var(--header-height));

}

.header {
    margin: 16px 0;
    padding: 0 32px;

}
.title {
    color: var(--text-base);
    font-size: 2.4rem;
    font-weight: 700;

}
.list {
    display: grid;
    gap: 24px;
    grid-template-columns:repeat(5, minmax(0,1fr));
    padding: 0 32px;

}



@media ( min-width: 970px ) and ( max-width: 1024px ){ 
    .list {
        grid-template-columns:repeat(4, minmax(0,1fr));
        gap: 16px;
    }
}
// tablet
@media  ( max-width: 970px) and (min-width: 768px)  {
    .list {
        grid-template-columns:repeat(3, minmax(0,1fr));
        gap: 16px;
    }
}

@media   (max-width: 768px)  {
    .list {
        grid-template-columns:repeat(2, minmax(0,1fr));
        gap: 16px;
    }
}
