.wrapper{
    background: var(--bg-base);
    min-height: 100vh;

    .action {
        padding: 24px 32px;
        display: flex;
        .action-btn {
            margin-right: 32px;
        }
    }
    .more-icon {
        transform: rotate(90deg);
    }
    .content {
        display: flex;
        gap: 5%;
        padding: 0 32px;
        .show-intro {
            max-width: 30%;
        }
    }
}




@media   (max-width: 1260px)  {
    .content {
        max-width: 790px;
    }
    .content {
        flex-direction: column-reverse;
    }
    .show-intro {
        width: 100% ;
        max-width: 100% !important;
    }
}

