.wrapper {
    display: flex;
    align-items: center;
    width: 20%;
    .content-img {
        width: 56px;
        height: 56px;
    }
    .content {
        // display: flex;
        margin: 0 14px;
        max-width: 160px;
        
        .title {
            display: block;
            max-width: 160px;
            font-size: 1.4rem;
            font-weight: 400;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: var(--text-base);
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
        .author {
            font-size: 1.1rem;
            font-weight: 400;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: var(--text-sub);
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;  
            overflow: hidden;

            .author-item {
                // display: block;
                color: var(--text-sub);

                
                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                    color: var(--text-base);
                }
            }
        }
    }
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        .icon-item {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 32px;
            width: 32px;   
            opacity: 0.7;
            &:hover {
                opacity: 1;

            } 
        }
    }
}