.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .current-time {
        font-weight: 400;
        font-size: 1.1rem;
        color: #a7a7a7;
        min-width: 52px;
    }
    .progress-bar {
        width: 100%;
        height: 10px;
        display: flex;
        align-items: center;
        margin: 0 12px;
        .progress-total {
            background: hsla(0,0%,100%,.3);
            height: 4px;
            width: 100%;
            position: relative;
            border-radius: 2px;
            .progress-transform {
                background: #fff;
                height: 4px;
                width: 30%;
                position: absolute;
                border-radius: 2px;
            }
            .progress-scrubber {
                position: relative;
                height: 4px;
                width: 100%;
                display: none;
                .progress-scrubber-item {
                    height: 12px;
                    width: 12px;
                    background: #fff;
                    position: absolute;
                    top: -4px;
                    border-radius: 100%;
                    margin-left: -6px;
                }
            }
        }
        &:hover .progress-transform{
            background: #1db954;
        }
        &:hover .progress-scrubber {
            display: block;

        }
    }
    .total-time {
        font-weight: 400;
        font-size: 1.1rem;
        color: #a7a7a7;
        min-width: 52px;

    }
}