.wrapper {
    padding: 0 32px;
    background: var(--bg-base);
    padding-top: 24px;
    min-height: calc(100vh - var(--header-height));

}
.item:not(:first-child) {
    margin-top: 32px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    
}
.title {
    color: var(--text-base);
    font-size: 2.4rem;
    font-weight: 700;
}
.link {
    color: var(--text-base);
    font-size: 1.4rem;
    font-weight: 700;

}
.list {
    display: flex;
    
}
