.wrapper {
    .welcome {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 16px;
        color: var(--text-base);
        display: block;
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 16px;
        justify-content: space-between;
        user-select: none;

        .banner-item {
            height: 80px;
            display: flex;
            align-items: center;
            background-color: hsla(0,0%,100%,.1);
            transition: all 0.3s ease;
            border-radius: 4px;
            overflow: hidden;
            cursor: pointer;
            .banner-img {
                height: 80px;
                width: 80px;
                img {
                    width: 80px;
                    height: 80px;
                }
            }
            .banner-content {
                color: var(--text-base);
                font-weight: 700;
                font-size: 1.6rem;
                padding: 0 16px;
                height: 100%;
                display: flex;
                align-items: center;
                width: 100%;
                span{
                    justify-content: space-between;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;  
                    display: -webkit-box;
                    overflow: hidden;
                    white-space: unset;
                    word-break: break-all;
                }
                .banner-btn {
                    display: none;
                    margin-left: 8px;
                }
            }
            &:hover {
                background-color: hsla(0,0%,100%,.2);
                .banner-btn {
                    display: block;


                }
            }
        }
        
    }
    
}

@media ( min-width: 1280px ) {
    .content {
        column-gap: 10%; 

        .banner-item {
            width: 31px ;
            max-width: 31%;
            width: 376px;
            .banner-content {

            }
        }
    }

    .skeleton {
            max-width: 45%;
    }
}
@media ( max-width: 1280px ) and ( min-width: 1025px ) {
    .content {
        column-gap: 0;
        .banner-item {
            width: 45% ;
            max-width: 31%;
            .banner-content {

            }
        }
    }
    .skeleton {
        max-width: 31%;
    }
 }
@media  ( max-width: 1025px ) and (min-width: 769px){ 
    .content {
        column-gap: 0;

        .banner-item {
            width: 45% ;
            max-width: 50% ;
            .banner-content {
                font-size: 1.4rem !important;
            }
        }
    } 
    .skeleton {
        max-width: 45%;
    }
    
}
@media (max-width: 769px) {
    .skeleton {
        min-width: 100%;
    }
    .banner-item {
        width: 100%;
    }
}

